.Loading-container {
    min-height: 100vh;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Loading-header {
    color: #ffffff;
    font-size: 10vh;
}

.Loading-start-link {
    color: #61dafb;
    font-size: 7vh;
}